language: python

python:
  - 2.7
  - 3.4
  - pypy

matrix:
  include:
    - python: 3.5
      script: tox -e py35
    - python: 3.6
      script: tox -e flake8
    - python: 3.6
      script: tox -e coverage
    - python: 3.7
      script: tox -e py37

before_install:
  - sudo apt-get install -y python-dev gcc

install:
  - pip install cython tox codecov

script:
  - tox -e py

after_success:
  - cd tests && codecov
